$WHITE: #FFFFFF;
$WHITE_OVERFLOW: #E1E1E180;
$LIGHT_BLUE: #DBE2EF;
$LIGHT_MEDIUM_BLUE: #8FB6FF;
$LIGHT_DARKER_BLUE: #65ABFF;
$ALMOST_BLUE: #257FEA33;
$SATURATED_BLUE: #257FEA;
$BLUE: #3F72AF;
$RED: #EC1D1D;
$GRAY: #808080;
$LIGHT_BLACK: #00000040;
$TRANSLUCENT_BLACK: #0000004D;
$MEDIUM_BLACK: #00000080;
$BLACK: #000000;

// Text
$TEXT_MAIN_HEADER: $WHITE;
$TEXT_SIMPLE: $BLACK;
$TEXT_TITLE_POPUP: $BLUE;
$TEXT_DESCRIPTION: $GRAY;
$TEXT_CATEGORY: $BLUE;

// Background
$BGC_MAIN: $LIGHT_BLUE;
$BGC_HEADER: $BLUE;
$BGC_POPUP: $LIGHT_BLUE;
$BGC_OVERLAY_POPUP: $TRANSLUCENT_BLACK;
$BGC_LINE: $BLUE;
$BGC_HOVER_ITEM: $ALMOST_BLUE;
$BGC_LOADER_OVERFLOW: $WHITE_OVERFLOW;

// Button
$PRIMARY_TEXT_BUTTON: $WHITE;
$PRIMARY_BGC_BUTTON: $BLUE;

$PRIMARY_BGC_HOVER_BUTTON: $SATURATED_BLUE;
$PRIMARY_BGC_ACTIVE_BUTTON: $LIGHT_DARKER_BLUE;

$SECONDARY_TEXT_BUTTON: $BLUE;
$SECONDARY_BGC_BUTTON: transparent;
$SECONDARY_BORDER_BUTTON: $BLUE;

$SECONDARY_TEXT_HOVER_BUTTON: $SATURATED_BLUE;
$SECONDARY_BGC_HOVER_BUTTON: $ALMOST_BLUE;
$SECONDARY_BORDER_HOVER_BUTTON: $SATURATED_BLUE;

$SECONDARY_TEXT_ACTIVE_BUTTON: $WHITE;
$SECONDARY_BGC_ACTIVE_BUTTON: $SATURATED_BLUE;
$SECONDARY_BORDER_ACTIVE_BUTTON: $SATURATED_BLUE;

$NONE_BGC_BUTTON: transparent;
$NONE_TEXT_BUTTON: $WHITE;

//Input
$TEXT_LABEL_INPUT: $BLUE;
$TEXT_PLACEHOLDER_INPUT: $MEDIUM_BLACK;
$TEXT_INPUT: $BLACK;
$BGC_INPUT: transparent;
$BORDER_INPUT: $BLUE;
$TEXT_LABEL_HOVER_ACTIVE_INPUT: $SATURATED_BLUE;
$BORDER_HOVER_ACTIVE_INPUT: $SATURATED_BLUE;
$ERROR_INPUT: $RED;
$REQUIRED_INPUT: $RED;
$SEARCH_INPUT_BGC: $WHITE;

// Select
$TEXT_LABEL_SELECT: $BLUE;
$BORDER_SELECT: $BLUE;
$TEXT_LABEL_HOVER_SELECT: $SATURATED_BLUE;
$BORDER_HOVER_SELECT: $SATURATED_BLUE;
$TEXT_SELECT_SELECTED: $WHITE;
$TEXT_SELECT: $BLACK;
$BGC_SELECT_SELECTED: $BLUE;
$BGC_SELECT: transparent;
$BGC_HOVER_SELECT: $ALMOST_BLUE;
$TEXT_PLACEHOLDER_SELECT: $MEDIUM_BLACK;

//Links
$TEXT_LINK: $LIGHT_BLUE;
$TEXT_SELECTED_LINK: $LIGHT_MEDIUM_BLUE;
$TEXT_HOVER_LINK: $WHITE;

//Scrollbar
$SCROLLBAR: $LIGHT_BLACK;